/* I've used resources from: */
/* https://www.chartjs.org/doc */
/* https://materializecss.com/getting-started.html */
/* https://www.w3schools.com */

* {
	/*this is a variable declaration, not actually assigned to * */
	--primaryColor: #3949ab;

	box-sizing: border-box;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #e2e1e0;

	/*because of #block margin*/
	padding: 0.1px;

}

#chart {
	padding: 20px;
	width: 50%;
	margin: 0 !important;
	flex-grow: 1;
}

#chart:nth-child(2n) {
	margin-left: auto;
}

p {
	font-size: 20px;
	padding: 5px 20px;
	margin: 0;
}

footer p {
	padding: inherit;
}

#half p {
	font-size: 2em;
}

#half h1 {
	font-size: 3.5em !important;
}

#block {
	border-radius: 2px;
	background-color: white;
	margin: 1rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.intro {
	display: flex;
}

#half {
	width: 50%;
	flex-direction: column;
	margin: auto;
}

#half img {
	width: 40%;
	margin: 40px;
}

#mobile_only {
	display: none;
}

#flex {
	display: flex;
}

#table {
	width: 90%;
	margin: auto;
}

/*overiding materialize classes*/
h1 {
	font-size: 25px !important;
	padding: 20px !important;
	margin: 0 !important;
}

.nav-wrapper {
	background-color: var(--primaryColor) !important;
}

.page-footer {
	background-color: var(--primaryColor) !important;
}

.brand-logo {
	padding: 0 20px !important;
	left: 0 !important;
	transform: translateX(0) !important;
}

/*phone*/
@media screen and (max-width: 600px) {
	#chart {
		width: 100%;
	}

	#flex {
		display: block;
	}

	/*overiding materialize classes*/
	footer p {
		font-size: 15px !important;
	}

	.sidenav-trigger {
		float: right ! important;
	}

	.intro {
		display: block;
	}

	#half {
		width: 100%;
	}

	#half h1 {
		font-size: 30px !important;
	}

	#half p {
		font-size: 20px !important;
	}

	#mobile_only {
		display: block;
	}
}

/*overiding materialize classes again...*/
@media screen and (min-width: 600px) {
	.sidenav-trigger {
		display: none ! important;
	}
}
